*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 90%;
  margin-inline: auto;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem;
  margin-top: 5rem;
}

.box {
  border: 1px solid #ccc;
  padding: 2rem;
  text-align: center;
  border-radius: 10px;

  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
}
